@model IEnumerable<DisasterNPO.Models.DonationModel>

@{
    ViewData["Title"] = "Viewing";
}

<center><h1>Donations List</h1></center>

<p>
    <a asp-action="Donation">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.category)
            </td>
        </tr>
}
    </tbody>
</table>
